In [2]:
import pandas as pd
import numpy as np
# List of Tuples
empoyees = [('Jack', np.NaN, 34, 'Sydney', np.NaN,  5,  np.NaN, np.NaN, np.NaN),
            ('Riti', 23    , 31, 'Delhi' , np.NaN,  7,  np.NaN, np.NaN, np.NaN),
            ('Aadi', np.NaN, 16, 'London', 32,      11, np.NaN, 3, np.NaN),
            ('Mark', np.NaN, 41, 'Delhi' , np.NaN,  12, np.NaN, 11, 1)]
# Create a DataFrame object
df = pd.DataFrame(  empoyees,
                    columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'])
print("Contents of the Dataframe : ")
print(df)

Contents of the Dataframe :
      A     B   C       D     E   F   G     H    I
0  Jack   NaN  34  Sydney   NaN   5 NaN   NaN  NaN
1  Riti  23.0  31   Delhi   NaN   7 NaN   NaN  NaN
2  Aadi   NaN  16  London  32.0  11 NaN   3.0  NaN
3  Mark   NaN  41   Delhi   NaN  12 NaN  11.0  1.0

In [3]:
# Delete columns containing either 75% or more than 75% NaN Values
perc = 75.0
min_count =  int(((100-perc)/100)*df.shape[0] + 1)
mod_df = df.dropna( axis=1,
                    thresh=min_count)
print("Modified Dataframe : ")
print(mod_df)
print("Contents of the Dataframe : ")
print(df)

Modified Dataframe :
      A   C       D   F     H
0  Jack  34  Sydney   5   NaN
1  Riti  31   Delhi   7   NaN
2  Aadi  16  London  11   3.0
3  Mark  41   Delhi  12  11.0
Contents of the Dataframe :
      A     B   C       D     E   F   G     H    I
0  Jack   NaN  34  Sydney   NaN   5 NaN   NaN  NaN
1  Riti  23.0  31   Delhi   NaN   7 NaN   NaN  NaN
2  Aadi   NaN  16  London  32.0  11 NaN   3.0  NaN
3  Mark   NaN  41   Delhi   NaN  12 NaN  11.0  1.0